<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>103550522246-pgn3eos91pj7vd7n8t3c46vlq54vd72s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103550522246-pgn3eos91pj7vd7n8t3c46vlq54vd72s</string>
	<key>API_KEY</key>
	<string>AIzaSyCYfv4AJPOM89Bt9E1xXGgIJPpVoMyI1Oo</string>
	<key>GCM_SENDER_ID</key>
	<string>103550522246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DonumVictus.Donum-Victus</string>
	<key>PROJECT_ID</key>
	<string>donumvictus</string>
	<key>STORAGE_BUCKET</key>
	<string>donumvictus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:103550522246:ios:be21688a16c1805f</string>
	<key>DATABASE_URL</key>
	<string>https://donumvictus.firebaseio.com</string>
</dict>
</plist>